@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
body {
  background-color: #000;
  margin: 0px;
  padding: 0px;
}
.header{
  background-color: #fff;
  text-align: center;
  padding: 5px;
}
.title-row{
  margin-top: 42px;
  margin-bottom: 21px;
  text-align: center;
}
.instructions-title{
  display:inline;
  font-size: 1em;
  color: #ffff00;
  font-family: 'Lato', sans-serif;
}
.instructions-row{
  margin: 0 auto;
  max-width: 300px;
  max-width: auto;
}
.instructions-number{
  padding: 5px;
  font-size: 2em;
  font-family: 'Lato', sans-serif;
  color: #ffff00;
}
.instructions-text{
  padding: 10px;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  color: #fff;
}
.door-row{
  text-align: center;
}
.door-frame{
  cursor: pointer;
  padding: 10px;
}
.start-row{
  margin: auto;
  width: 120px;
  height: auto;
  font-family: 'Lato', sans-serif;
  background-color: #ffff00;
  padding: 10px;
  font-size: 1.2em;
  text-align: center;
  color: #000;
  margin-bottom: 20px;
  cursor: pointer;
}