@import url('https://fonts.google.com/specimen/Poppins');
@import url('https://fonts.google.com/specimen/Open+Sans');
@import url('https://fontawesome.com/');
.head{
    background-image:url(images/bg-hero-desktop.svg);
}
.grid{
    display: grid;
    grid-template-columns: 100fr 100fr;
}
body{
    margin: 0%;
}
button{
    color: white;
    border: none;
    border-radius: 10px;
    text-align: center;
    background-color: rgba(255, 0, 234, 0.726);
    box-shadow: 2 14px 8px 2 rgba(0,0,0,0.2);
}
p  {
    Font-size: 18px;
    font-weight: 400;
    font-family: "Poppins";
}
h2{
    font-weight: 600;
    font-family: "Open Sans";
}
h3{
    font-weight: 700;
    font-family: "Open Sans";
}
.header{
    padding-right: 10%;
    padding-left: 10%;
}
.header img {
    float: left;
}
.header button {
    float: right;
    float: clear;
    
}
.main *{
    padding-right: 10%;
     padding-left: 10%;
}
main {
    margin: 2% 2%;
    margin-bottom: 5%;
}
.main img{
    float: right;
    float: clear;
}
.grow  {
    padding-right: 10%;
     padding-left: 10%;
    box-align: center;
    box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.2);
    margin: 3% 5%;
}
.growone{
    width: 70fr;
    margin-left: 2%;
    margin-top: 17%; 
}
.grow img {
    margin-top: 2%;
    float: left;
    width: 500px;
    margin-left: 5%;
    height: auto;
    
}
.float{
    /* padding-right: 5%;
     padding-left: 5%;
    float: center; */
    box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.2);
    margin: 3% 5%;
}
.float img {
    margin-top: 2%;
    float: left;
    width: 500px;
    margin-left: 5%;
    height: auto;
    
}
.floatone{
    width: 60fr;
    margin-left: 5%;
    margin-top: 15%; 
}
.users{
    box-shadow: 2px 4px 8px 2px hsl(208, 11%, 55%);
    margin: 3% 5%;
}
.users img{
    float: right;
    width: 30%;
    margin-left: 5%;
    width: 500px;
    height: auto;
}
.usersone{
    float: left;
    width: 60fr;
    margin-left: 5%;
    margin-top: 13%; 
}
.grid1 {
    display: grid;
    grid-auto-flow: row;
    width: 700px;
}
.build{
    margin: 0% 30%;
    background-color: white;
    margin-bottom: -5%;
    position: relative;
}
.build h2 {
    margin: 2% 15%;
}
.build button{
    margin: 2% 28%;
    width: 200px;
    height: 40px;
}
.responsive{
    width: 40%;
    height: auto;
}
.bottom{
    color: aliceblue;
    background-color: black;
    margin-bottom: 0%;
}
.bottom-content img {
    margin-top: 10%;
}
.gridcol{
    margin: 0% 2%;
    display: grid;
    grid-gap: 3px;
    grid-auto-flow: column;
    grid-template-columns: 3fr 20fr 30fr 30fr 10fr ;
}
.gridrow {
    display: grid;
    height: auto;
    grid-auto-flow: row;
}

